html,body{
	margin:0;
	padding:0;
	font-size:100%;
}
body>header{
	display:flex;
	align-items:baseline;
	background:#ccc;
	border-bottom:1px solid #888;
}
body>header>h1{
	margin:0;
	flex:1;
}
body>header>nav{
	flex:1;
	text-align:right;
}
main{
	background:#eee;
}
table{
	width:100%;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
}

#sheet{
	display:flex;
	width:100%;
}
#sheet .col{
	flex:1;
}
section{
	border:1px solid #444;
	box-shadow:1px 1px 2px #888;
	margin:4px;
	background:#fff;
	transition:background-color .15s ease;
}
section.hover{
	border-color:#000;
	background-color:#e8e8e8;
}
section>header{
	background-color:#d3e4e4;
	display:flex;
	align-items:center;
}
section>header>h2{
	margin:4px;
	flex:1;
}

input{
	width:calc(100% - 4px);
}

.icon{
	display:inline-block;
	width:32px;
	height:32px;
	opacity:0.8;
	cursor:pointer;
}
.icon:hover{
	opacity:1;
}
.icon.add{background-image:url('/img/icons/add.png');}