.modal{
	display:flex;
	flex-direction:column;
	position:fixed;
	background-color:white;
	min-width:40vw;
	max-width:80vw;
	max-height:80vh;
	z-index:100;
	margin:auto;
	/* center it */
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.modal-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.7);
	z-index:99;
}

.modal>header,
.modal>footer{
	background-color:#ddd;
	padding:1rem;
}

.modal>.content{
	margin:1rem;
	overflow:auto;
}