.tabs nav{
	display:flex;
}
.tabs nav>a{
	flex:1;
	display:inline-block;
	background-color:rgba(0,0,0,0.2);
	padding:1rem;
	color:black;
	text-decoration:none;
	margin:2px;
	text-align:center;
}
.tabs nav>a.active,
.tabs nav>a:hover {
	background-color:rgba(0,0,0,0.3);
}